@import './base.css';

:root {
  --color-text: #191a0f;
}


html {
  --vari1: #546552;
  --vari2: #e7d7a6;
  --vari3: #f5d28d;
  --vari4: #e0cdb1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.actions {
  margin-top: .8rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: .4rem;

  .action {
    margin-bottom: .5rem;
  }

}

.return {
  background-color: #c2b5b5;
}

.un-dq {
  background-color: maroon;
  color: #ddd;
}
.un-dq::before {
  content: '🚫';
  padding-right: .3rem;
  color: transparent;
  text-shadow: 0 0 0 #ddd;
}

.next {
  background-color: #145014;
}



a, .green {
  text-decoration: none;
  color: hsl(46, 48%, 87%);
  transition: 0.4s;
}

.action {
  font-size: 120%;
  padding: .25rem;
  display: flex;
  min-width: 6rem;
  justify-content: space-evenly;

  &.danger {
    background-color: darkred;
    color: #eee;
    border-radius: 5px;
    border: none;
  }

}


.nimikortti {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 1rem;
  }
}

.tuloskortti {

  width: 100%;
  max-width: 120rem;

  thead {
    th {
      min-width: 4rem;
      max-width: 12rem;
    }
  }

  td {
    text-align: right;
  }

  & tr:nth-child(odd) {
      background-color: #f5f5f5;
    }
  & tr:nth-child(even) {
      background-color: #e7e7e7;
    }

  & tr.yhteensa {
    td {
      font-weight: bold;
    }
  }

}

#tulos {
  font-weight: bold;
  &.KESKEN {
    color: #2f2f2f;
  }
  &.HYVÄKSYTTY {
    color: darkgreen;
  }
  &.HYLÄTTY {
    color: darkred;
    :before {
      content: 'g';
      background-color: blue;
    }
  }
}


.tuloskorttiotsikko {
  text-align: center;
  font-variant: all-petite-caps;
  font-weight: bold;
  background-color: #ccc;
  color: #444;
  margin: .2rem;
}

.qrcode {
  text-align: center;
  margin: 2rem;
}

.paivajapaikka {
  text-align: right;
}

.tuomarileima {
  color: purple;
  border: 3px solid purple;
  border-radius: 5px;
  font-family: monospace;
  padding: .1rem;
  margin-right: 1rem;
  max-width: 11rem;
  text-align: center;
  margin-left: auto;
  transform: rotate(9deg);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(147, 9%, 81%, 0.2);
  }
}
